<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Lista de usuarios</h1>

    <ul>
    {% for u in usuarios %}
        <li>
            <strong>Nombre:</strong> {{ u.nombre }} <br>
            <strong>Correo:</strong> {{ u.correo_electronico }} <br>
            <strong>Contraseña:</strong> {{ u.contraseña }} <br>
            <strong>Fecha_registro:</strong> {{ u.fecha_registro }} <br>
        </li>
    {% empty %}
        <li>No hay usuarios registrados.</li>
    {% endfor %}
    </ul>

    <br>
    <a href="{% url 'index' %}">Volver al menú</a>
</body>
</html>
